[submodule "AnEngine/PAL/SAL/glfw"]
	path = AnEngine/PAL/ThirdParty/Libraries/glfw
	url = git@github.com:glfw/glfw
[submodule "AnEngine/PAL/SAL/glm"]
	path = AnEngine/PAL/ThirdParty/Libraries/glm
	url = git@github.com:g-truc/glm
[submodule "AnEngine/PAL/HAL/Vulkan/VaultedThermals"]
	path = AnEngine/PAL/HAL/Vulkan/VaultedThermals
	url = git@github.com:Ed94/VaultedThermals
[submodule "AnEngine/PAL/SAL/imgui"]
	path = AnEngine/PAL/ThirdParty/Libraries/imgui
	url = git@github.com:ocornut/imgui
[submodule "AnEngine/PAL/ThirdParty/Libraries/SDL-mirror"]
	path = AnEngine/PAL/ThirdParty/Libraries/SDL-mirror
	url = git@github.com:spurious/SDL-mirror
[submodule "AnEngine/PAL/ThirdParty/Libraries/gainput"]
	path = AnEngine/PAL/ThirdParty/Libraries/gainput
	url = git@github.com:jkuhlmann/gainput
[submodule "AnEngine/PAL/ThirdParty/Libraries/Cinder"]
	path = AnEngine/PAL/ThirdParty/Libraries/Cinder
	url = git@github.com:cinder/Cinder
[submodule "AnEngine/PAL/ThirdParty/Libraries/openal-soft"]
	path = AnEngine/PAL/ThirdParty/Libraries/openal-soft
	url = git@github.com:kcat/openal-soft
[submodule "AnEngine/PAL/ThirdParty/Libraries/ggpo"]
	path = AnEngine/PAL/ThirdParty/SDKs/ggpo
	url = git@github.com:pond3r/ggpo
[submodule "AnEngine/PAL/ThirdParty/Libraries/MemoryAllocator.KanameShiki"]
	path = AnEngine/PAL/ThirdParty/Libraries/MemoryAllocator.KanameShiki
	url = git@github.com:EmuraDaisuke/MemoryAllocator.KanameShiki
[submodule "AnEngine/PAL/ThirdParty/Libraries/basis_universal"]
	path = AnEngine/PAL/ThirdParty/Libraries/basis_universal
	url = git@github.com:BinomialLLC/basis_universal
[submodule "AnEngine/PAL/ThirdParty/Libraries/magic_enum"]
	path = AnEngine/PAL/ThirdParty/Libraries/magic_enum
	url = git@github.com:Neargye/magic_enum
[submodule "AnEngine/PAL/ThirdParty/Libraries/libjobs"]
	path = AnEngine/PAL/ThirdParty/Libraries/libjobs
	url = git@github.com:TLeonardUK/libjobs
[submodule "AnEngine/PAL/ThirdParty/Libraries/rbase"]
	path = AnEngine/PAL/ThirdParty/Libraries/rbase
	url = git@github.com:milostosic/rbase
[submodule "AnEngine/PAL/ThirdParty/Libraries/bgfx"]
	path = AnEngine/PAL/ThirdParty/Libraries/bgfx
	url = git@github.com:bkaradzic/bgfx
[submodule "AnEngine/PAL/ThirdParty/Libraries/The-Forge"]
	path = AnEngine/PAL/ThirdParty/Libraries/The-Forge
	url = git@github.com:ConfettiFX/The-Forge
[submodule "AnEngine/PAL/ThirdParty/Libraries/rpclib"]
	path = AnEngine/PAL/ThirdParty/Libraries/rpclib
	url = git@github.com:rpclib/rpclib
[submodule "AnEngine/PAL/ThirdParty/Libraries/DiligentEngine"]
	path = AnEngine/PAL/ThirdParty/Libraries/DiligentEngine
	url = git@github.com:DiligentGraphics/DiligentEngine
[submodule "AnEngine/PAL/ThirdParty/Libraries/bsf"]
	path = AnEngine/PAL/ThirdParty/Libraries/bsf
	url = git@github.com:GameFoundry/bsf
[submodule "AnEngine/PAL/ThirdParty/Libraries/rttr"]
	path = AnEngine/PAL/ThirdParty/Libraries/rttr
	url = git@github.com:rttrorg/rttr
[submodule "AnEngine/PAL/ThirdParty/Libraries/vivid"]
	path = AnEngine/PAL/ThirdParty/Libraries/vivid
	url = git@github.com:gurki/vivid
[submodule "AnEngine/PAL/ThirdParty/Libraries/ctti"]
	path = AnEngine/PAL/ThirdParty/Libraries/ctti
	url = git@github.com:Manu343726/ctti
